html {
    height: 100%;
    width: 100%;
    }
    
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.body-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d5d2d5;
    border-radius: 10px;
    height: auto;
    width: auto;
    position: relative;
    box-sizing: inherit;
    padding-bottom: 150px;
}

/* section 1 styling */

.section1-header {
    padding-top: 50px;
    text-align: center;
    height: 190px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;;
}

.section1-header span a1, a2, a3, a4, a5, a6 {
    text-align: center;
    font-size: 25px;
}

.section1-header span a1 {
    color: blue;
}

.section1-header span a2 {
    color: red;
}

.section1-header span a3 {
    color: yellow;
}


.section1-header span a4 {
    color: blue;
}

.section1-header span a5 {
    color: green;
}

.section1-header span a6 {
    color: red;
}

.section1-header h2 {
    font-size: 23px;
    font-weight: 100;
    text-align: center;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;  
}
  
.section1-header h3 {
    font-size: 16px;
    font-weight: 50;
    text-align: center;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;    
}

/* section 2 styling */

.floating-label { 
    position:relative; 
  }
  
.floating-input , .floating-select {
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    height: 53px;
    width: 370px;
    font-size: 15px;
    outline: none;
}
  
.floating-input:focus , .floating-select:focus {
    border: 1.5px solid #1f52f9;
}
  
label {
    color:#999; 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:15px;
    top:18px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
  
.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
    top:-8px;
    background: #fff;
    font-size:14px;
    color:#5264AE;
}
  
.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
    top:-18px;
    font-size:14px;
    color:#5264AE;
}
  
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
    width:50%;
}
  
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
.floating-textarea {
    min-height: 30px;
    max-height: 260px; 
    overflow:hidden;
    overflow-x: hidden; 
}

.email-error {
    padding-top: 20px;
    font-size: 10px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif; 
    color: red;
}

/* section 3 styling */

.section3-next-button {
    padding-top: 30px;
}

.submit-button {
    background: #4971f6;
    border: none;
    color: #fff;
    width: 20%;
    padding: 10px 10px;
    font-size: 10px;
    border-radius: 4px; 
    margin: 1px 0 50px 290px;
    outline: none;
}

.submit-button:hover {
    background: #254fdb;
}

@media only screen and (max-width: 940px) {
    .main {
        border: none;
    }
}   