html {
    height: 100%;
    width: 100%;
}
body {
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 100%
}
 
.main-section-container {
  display: flex;
  width: 100%;
}

#main {
  flex-wrap: wrap;
  transition: margin-left .5s;
  padding: 10px;
  width: 95%;
}

.main-section1 {
  width: 5%;
  margin: 1%;
}

.header-section {
  width: 100%;
  height: 10%;
  padding-top: 10px;
  border-bottom: 1px solid #d5d7d8;
}

.keep {
  padding-right: 50px;
}

.search-input {
  background: #f1f3f4;
  border: 1px solid transparent;
  width: 53%;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
}

.header-section .material-icons-outlined {
  padding-left: 30px;
  font-size: 20px !important;
}

.header-section .menu {
  padding-left: 15px;
  width: 4%;
}

.header-section img {
  padding-left: 10px;
  padding-bottom: 6px;
  width: 3%;
}

.header-section .keep {
  padding-left: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 1;
  left: 40px;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 28px 8px 8px 62px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #feefc3;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-width: 18%;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
 
.nav-container span{
  width: 1%;
  padding-top: 15px;
  padding-left: 5px;
}  
  
.reminder span {
  padding-top: 25px;
}

.edit span {
  padding-top: 26px;
}

.archive span {
  padding-top: 30px;
}

.trash span {
  padding-top: 24px;
}

/* main section styling */

.items {
  width: 100%;
  min-height: 170px;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
  
.notes {
  width: 22%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-between;
  border-radius: 10px;
}



.item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  width: 100%;
  position: relative;
}

textarea:focus, input:focus{
  outline: none;
}

#Div2 {
  display: none;
  transition:linear;
  padding-left: 220px;
  width: 70%;
  padding-top: 20px;
  border: white;
}

.Div2-contents {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border: black;
  border-radius: 10px;
  /* height: 210px; */
}

.Div1 {
  padding-left: 220px;
  padding-top: 20px;
  width: 70%; 
}

.note-section {
  align-items: right;
  padding-left: 20px;
  border: white;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

#content{
  display:none;
}

.note-section-toggle {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: inherit;
}

.user-note {
  width: 100%;
  height: 40px;
  border: none;
  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: inherit;
}

#icons .material-icons-outlined {
  color: #202124;
  opacity: 0.71;
  font-size: 20px;
}

.sub-buttons .material-icons-outlined{
  color: #202124;
  opacity: 0.71;
  padding-top: 2px;
  cursor: pointer;
}

.Div2-contents h1 {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  font-size: 18px;
  font-weight: 500;
  height: 45px;
  padding-top: 15px;
  padding-left: 15px;
}

.me-2 {
  padding-top: 10px;
  padding-left: 450px;
}

.btn-primary {
  color: black;
  background-color: rgba(243, 242, 242, 0.07);
  border: none;
}

.btn-primary:hover {
  background-color:rgb(247, 244, 244);
  color: black;
}

.Div2-contents i {
  padding-left: 25px;
}

.person-email {
  border: none;
  color: #3c4043;
  font-size: 13px;
  font-family: 'Roboto',arial,sans-serif;
  outline: none;
}

.default-email-container {
  padding-left: 46px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.collaborator-button {
  border: none;
  background-color: white;
}
.sidenav-note {
  border: none;
  background-color: white;
}

.note-closing {
  padding-left: 200px;
  padding-bottom: 10px;
}

.person-email {
  border: none;
  color: #3c4043;
  font-size: 13px;
  font-family: 'Roboto',arial,sans-serif;
  outline: none;
}

.default-email {
  height: 30px;
  color: #5f6368;
  font-size: 15px;
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  padding-left: 15px;
}

/* icon styling */

.fa-undo, .fa-repeat {
  padding-left: 25px;
  color: rgb(196, 191, 191);
}
.fa-repeat { 
  padding-right:110px;
  border-radius: 10px;
}

.collaborator-button {  
  height: 50px;
  width: 50px;
  border: none;
background-color: inherit !important;
}

.note {  
  border: none;
  background-color: white;
  padding-left: 80px;
  background-color: inherit;
}

.delete-buttton {
  border: none;
  background-color: inherit !important;
  padding-left: 10px;
}

.delete-buttton:hover {
  background-color: rgb(238, 235, 235);
  border-radius: 5px;
  width: 12%;
}

.archive-button {
  border: none;
  background-color: inherit !important;
}
  
/* display note icons hover */

.sub-buttons {
  display: none;
  padding-top: 60px;
  padding-left: 17px;
}

.items:hover .sub-buttons {
  display: block;
}

/* colaborator display note */

.myList {
  width: 60%;
  height: 30px;
}

.dropdown-menu-dark {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);  
}

.dropdown-toggle {
  background-color: white;
  border: none;
  padding-bottom: 12px;
}

.dropdown-toggle::after {
  content: none !important;
  background-color: none;
  border: none;
}

.addnote-dropdown-toggle {
  background-color: white !important;
  border: none !important;
  width: 50%;
  color: black;
}

.dropdown-toggle:hover {
  border-color: white;
  background-color: white;
}

.dropdown-toggle:visited {
  background-color: white !important;
  border-color: white !important;
}

.dropdown-menu {
  padding-right: 100px;
  padding-left: 1px;
  color: black;
  background-color: white;
}

.dropdown-menu:hover {
  background-color: white;
  border-color: white;
}

.btn-secondary  {
  padding-left: 1px;  
}

.btn {
  padding-left: 5px;
  border-color: inherit !important;
  background-color: inherit !important;
}

.btn:hover {
  border-color: none;
  box-shadow: none;
  color: black;
}

.collab-dropdown {
  padding-left: 25px;
  /* padding-bottom: 40px; */
}

/* collaborator display section */

.collab-email {
  padding-left: 50px;
  padding-bottom: 10px;
}

/* collaborator add button */

.add-collab {
  border: none;
  background-color: white;
  padding-left: 130px;
}

/* color pallete styling */

.color-palette {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 10px 3px;
  width: 160px;
}

.color-palette div {
  box-sizing: border-box;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  margin: 2px;
  opacity: 1;
  cursor: pointer;
  display: inline-block;
  outline: none !important;
}

.color-palette div.circled {
  border-color: rgba(0, 0, 0, 0.2) !important;
}

.btn:hover {
  border-color: inherit;
}

.bg-red {
  background-color: #f28b82;
}

.bg-orange {
  background-color: #fbbc04;
}

.bg-yellow {
  background-color: #fff475;
}

.bg-green {
  background-color: #ccff90;
}

.bg-turquoise {
  background-color: #a7ffeb;
}

.bg-blue {
  background-color: #cbf0f8;
}

.bg-dark-blue {
  background-color: #aecbfa;
}

.bg-purple {
  background-color: #d7aefb;
}

.bg-pink {
  background-color: #fdcfe8;
}

.bg-brown {
  background-color: #e6c9a8;
}

.bg-grey {
  background-color: #e8eaed;
}

/* display note popup section styling */

.overlay {
  background:rgba(0,0,0,0.8);
  opacity:0.8;
  filter:alpha(opacity=80);
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  z-index:100;
}

.popup{
  background:white;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:101;
  width:500px;
  height:200px;
  margin:auto;
  border-radius: 10px;
}  
  
.popup-inner{
  padding:1em;
} 

.popup-close {
  border: none;
  z-index: 1;
  position: relative;
  padding-left: 100px;
  cursor: pointer;
}

.popup-close-container {
  padding-left: 10px;
}

.popup-title, .popup-description {
  width: 100%;
}

.s3-btn-close {
  width: 100%;
  position: absolute;
}

input .s3-btn-close{
  position:absolute;
  top:-0.5em;
  right:-0.5em;  
  background:black;
  border:solid 2px white;
  color:white;
  cursor:pointer;  
  border-radius:15px;  
  outline:none;
} 

.s3-btn{
  border-radius: 10px;
  height:50px;
  cursor:pointer;
  width: 100%; 
}

.update-title, .update-note {
  text-align: left;
  padding-top: 10px;
  padding-left: 15px;
}

.popup-title, .popup-description {
  border: none;
}

.popup .material-icons-outlined {
  padding-left: 15px;
  padding-top: 10px;
  cursor: pointer;
}

.popup-default-email-container .material-icons-outlined {
  padding-left: 3px;
  padding-top: 0px;
  border-style: solid;
  border-radius: 25px;
  height: 28px;
  width: 6%;
  font-size: 20px;
  cursor: pointer;
}

.present-icon-container {
  padding-left: 12px;  
}

.collab-block {
  padding-top: 15px;
}

.present-email-container {
  padding-left: 1px;
}

.display-present-email-icon {
  border-style: solid;
  border-radius: 35px;
  height: 43px;
  width: 50%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
  border-color: rgb(116, 115, 115);
}
.default-icon-area {
  padding-left: 12px;
  top: 12px;
}

.dropdown-toggle::after {
  content: none;
}   

.btn {
  transition: none !important;
}

.btn-toolbar {
  background-color: rgba(0,0,0,0.07);;
  height: 62px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.display-email-section {
  border-style: solid;
  border-color: white;
  background-color:thistle;
  width: 30px;
  border-radius: 25px;
  padding-left: 7px;
}

.display_email-section-container {
  padding-left: 15px !important;
  display: flex;
  flex-direction: column;
}

.display-email-inner {
  display: flex;
  padding-top: 10px;
}

.popup-collab {
  display: flex;
  padding-top: 10px;
  border: none;
}

.addnote-collab {
  display: flex;
  padding-top: 10px;
}

.popup-title {
  background-color: inherit !important;
  padding-left: 15px;
}

.popup-note {
  background-color: inherit !important;
  border: none;
  padding-left: 15px;
}

.popup-collab-inner-section {
  border-radius: 10px;
}

.popup-update-collab-dropdown .fa {
  padding-left: 20px;
}

/* update collab styling */

.popup-collab-inner-contents {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border: black;
  border-radius: 10px;
  /* height: 250px; */
}

.popup-collab-inner {
  display: none;
  transition:linear;
  padding-left: 220px;
  width: 70%;
  padding-top: 20px;
  border: white;
}

.popup-collab-inner-contents h1 {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  font-size: 18px;
  font-weight: 500;
  height: 45px;
  padding-top: 15px;
  padding-left: 15px;
}

.popup-collab-inner-contents li {
  padding-left: 55px;
}

.button-outer
{
  width:100%;
  text-align: cen ter;
  padding-left: 350px;
  background-color:rgba(0,0,0,0.07);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inner
{
  display: inline-block;
  background-color: inherit;
  border: none;
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  background-color: rgba(216, 212, 212, 0.07);
  cursor: pointer;
}

.btn-secondary {
  color: black;
}

.material-icons-outlined {
  color: #202124 !important;
  opacity: 0.71;
}

#popup-pallet {
  padding-bottom: 15px;
}

#popup-palette-dropdown {
  display: inline-block;
  padding-top: 17px;
}

.popup-collab {
  padding-left: 12px;
}

.btn {
  text-align: start !important;
  
}

.btn-check:focus+.btn, .btn:focus { 
  box-shadow: none !important;
}

#user-icon {
  border-style: solid;
  border-radius: 25px;
  width: 30px;
  padding-left: 3px;
  border-width: 1px;
}

/* signout section styling */

.signout-default-email-container .material-icons-outlined {
  padding-left: 130px;
}

.default-name {
  padding-left: 110px;
  padding-bottom: 10px
}

.signout-default-email {
  padding-left: 70px;
}

.signout-button-container {
  padding-left: 100px;
  padding-top: 15px;
}

.signout-button {
  width: 63%;
  height: 30px;
  border-color: rgb(240, 234, 234);
}

#logout-button {
  padding-left: 20px;
}

.show {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border: none !important;
}

.menu {
  font-size: 20px !important;
}

.display-present-email-section {
  height: 50%;
  padding-left: 4px;
}

.search-collab-section-icon {
  padding-left: 12px;
  padding-top: 15px;
}
.search-collab-section-icon .fa {
  border-style: solid;
  border-radius: 35px;
  height: 29px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-color: rgb(116, 115, 115);
}

.dropdown {
  padding-top: 15px;
}

.button-outer-section {
  padding-top: 50px;
}

.search-email-dropdown-inner {
  padding-left: 20px;
  top: 20px;
}

#popup-collab-inner {
  background-color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  
@media only screen and (max-width: 400px) {
  .search-input{
    display: none;
  }
  .search-input, .refresh-icon, .grid-icon, .settings-icon, .apps-icon {
    display: none;
  }
  .Div1 {
    padding-left: 35px;
    padding-top: 2px;
    width: 100%;
  }
  .item-list {
    padding-left: 30px;
  }
  #icons .material-icons-outlined {
    font-size: 18px;
  }
  .note-closing {
    padding-left: 30px;
  }
  .note {
    padding-left: 0px;
  }
  .sidenav {
    background-color: white;
  }
  .popup {
    width: 350px;
  }
  #main {
    margin-left: 0px !important;
  }
  .menu {
    font-size: 20px !important;
  }
  .notes {
    width: 100%;
  }
  #logout-button {
    padding-left: 70px;
    padding-top: 10px;
  }
  .dropdown-toggle {
    padding-bottom: 7px;
  }
  .button-outer {
    padding-left: 160px;
  }
  #Div2 {
    padding-left: 20px;
    width: 95%;
  }
  .add-collab {
    padding-left: 40px;
  }
  .Div2-contents i {
    padding-left: 2px;
  }
  .default-email-container {
    padding-left: 23px !important;
  }
  .default-email {
    padding-left: 10px;
  }
  #popup-pallet {
    padding-bottom: 22px;
  }
  .popup .material-icons-outlined {
    padding-left: 10px;
  }
  .popup-close {
    padding-left: 20px;
  }
  .button-outer-section {
    padding-top: 0px;
  }
  .popup-default-email-container .material-icons-outlined {
    width: 10%;
    padding-left: 2px;
  }
  .header-section img {
    width: 8.5%;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 600px) {
  .search-input{
    display: none;
  }
  .search-input, .refresh-icon, .grid-icon, .settings-icon, .apps-icon {
    display: none;
  }
  .Div1 {
    padding-left: 35px;
    padding-top: 2px;
    width: 100%;
  }
  .item-list {
    padding-left: 30px;
  }
  #icons .material-icons-outlined {
    font-size: 20px;
  }
  .note-closing {
    padding-left: 30px;
  }
  .note {
    padding-left: 0px;
  }
  .popup {
    width: 380px;
  }
  #main {
    margin-left: 0px !important;
  }
  .menu {
    font-size: 20px !important;
  }
  .notes {
    width: 100%;
  }
  #logout-button {
    padding-left: 130px;
    padding-top: 10px;
  }
  .dropdown-toggle {
    padding-bottom: 7px;
  }
  .button-outer {
    padding-left: 160px;
  }
  #Div2 {
    padding-left: 20px;
    width: 95%;
  }
  .add-collab {
    padding-left: 40px;
  }
  .Div2-contents i {
    padding-left: 2px;
  }
  .default-email-container {
    padding-left: 23px !important;
  }
  .default-email {
    padding-left: 10px;
  }
  #popup-pallet {
    padding-bottom: 22px;
  }
  .popup .material-icons-outlined {
    padding-left: 10px;
  }
  .popup-close {
    padding-left: 20px;
  }
  .button-outer-section {
    padding-top: 0px;
  }
  .popup-default-email-container .material-icons-outlined {
    width: 10%;
    padding-left: 2px;
  }
  .sidenav {
    background-color: white;
  }
  .header-section img {
    width: 8%;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 755px) {
  .search-input{
    display: none;
  }
  .search-input, .refresh-icon, .grid-icon, .settings-icon, .apps-icon {
    display: none;
  }
  .Div1 {
    padding-left: 150px;
    padding-top: 25px;
    width: 85%;
  }
  .header-section {
    padding-top: 20px;
  }
  .header-section img {
    width: 6%;
  }
  .item-list {
    padding-left: 30px;
  }
  #icons .material-icons-outlined {
    font-size: 20px;
  }
  .note-closing {
    padding-left: 20px;
  }
  .note {
    padding-left: 0px;
  }
  .popup {
    width: 580px;
  }
  .menu {
    font-size: 25px !important;
  }
  .notes {
    width: 45%;
  }
  #logout-button {
    padding-left: 320px;
  }
}

@media only screen and (min-device-width: 755px) and (max-device-width: 1100px) {
  .search-input{
    display: none;
  }
  .search-input, .refresh-icon, .grid-icon, .settings-icon, .apps-icon {
    display: none;
  }
  .Div1 {
    padding-left: 150px;
    padding-top: 25px;
    width: 85%;
  }
  .header-section {
    padding-top: 20px;
  }
  .item-list {
    padding-left: 30px;
  }
  #icons .material-icons-outlined {
    font-size: 20px;
  }
  .note-closing {
    padding-left: 130px;
  }
  .note {
    padding-left: 0px;
  }
  .popup {
    width: 580px;
  }
  .menu {
    font-size: 25px !important;
  }
  .notes {
    width: 30%;
  }
  #logout-button {
    padding-left: 480px;
    padding-top: 10px;
  }
  .dropdown-toggle {
    padding-bottom: 7px;
  }
  .button-outer {
    padding-left: 300px;
  }
  #Div2 {
    padding-left: 150px;
    width: 85%;
  }
  .add-collab {
    padding-left: 40px;
  }
  .Div2-contents i {
    padding-left: 2px;
  }
  .default-email-container {
    padding-left: 23px !important;
  }
  .default-email {
    padding-left: 10px;
  }
  #popup-pallet {
    padding-bottom: 22px;
  }
  .popup .material-icons-outlined {
    padding-left: 10px;
  }
  .popup-close {
    padding-left: 220px;
  }
  .button-outer-section {
    padding-top: 0px;
  }
  .popup-default-email-container .material-icons-outlined {
    width: 6%;
    padding-left: 2px;
  }
  .header-section .keep {
    font-size: 22px;
  }
  .header-section img {
    width: 5%;
  }
  #user-icon {
    width: 35px;
    height: 30px;
    padding-left: 5px;
  }
}
    



