html {
    height: 100%;
    width: 100%;
    }
    
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.body-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column  ;
}

.header-section {
    width: 100%;
    height: 10%;
    padding-top: 10px;
    border-bottom: 1px solid #d5d7d8;
}

.main-section {
    width: auto;
    height: 60%;
}

.header-content span img {
    width: 9%;
    padding-left: 70px;
    padding-right: 6px;
}

.keep {
    padding-right: 150px;
}

.search-input {
    background: #f1f3f4;
    border: 1px solid transparent;
    width: 53%;
    height: 50px;
    border-radius: 10px;
    padding-left: 50px;
}

.search-label {
    padding-right: 100px;
}

.dropdown {
    padding-left: 450px;
    padding-top: 20px;
    
}

.dropdown-toggle {
    background-color: white;
    border: none;
    padding-left: 50px;
    padding-right: 450px;
    height: 40px;
    border-style: groove;
    border-width: 2px;
    border-radius: 5px;
}

.dropdown-menu {
    padding-left: 500px;
}

.section2-note {
    padding-top: 300px;
    padding-left: 550px;
    color: #80868b;
    cursor: default;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
}

.dropdown-menu {
   width: 48%;
}

.dropdown-menu li {
    padding-right: 40px;
    background-color: white;
}

.sidebar {
  position: fixed;
  width: 50px;
  height: 100%;
  transition: all 0.5s ease;
}

.sidebar .sidebar-position {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.sidebar .sidebar-position:hover {
  background-color: #feefc3;
  border-radius: 10px;
}

.sidebar i {
  color: black;
  min-width: 25px;
  text-align: center;
}

.sidebar span {
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0 15px;
  transition: width 0.5s ease;
  color: black;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar--open {
  width: 250px;
}

.sidebar--open .sidebar-position span {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: all 0.5s ease, opacity 0.5s ease 0.5s;
}

.trigger {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px 15px;
}

.trigger i {
  padding-top: 18px;
}

.all {
  padding-left: 390px;
  padding-top: 20px;
  width: 100%;
}

.note-section {
  padding-left: 2px;
  /* padding-top: 30px; */
  /* border-style: groove; */
  border: white;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

#content{
  display:none;
}

.toggle {
  width: 67%;
  height: 40px;
  background-color: #fff;
  border: none;
}

.user-note {
  width: 67%;
  height: 40px;
  border: none;
  background-color: #fff;
}

.note-section {
  border-style: groove;
  width: 60%; 
}

.close-button {
  border: none;
}

.close-section {
  padding-left: 420px;
  
}

.fa-refresh, .fa-th-large, .fa-cog, .fa-th  {
  padding-left: 50px;
}

.note-label {
  color: #80868b;
  cursor: default;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  padding-left: 200px;
  padding-top: 250px;
}

.fa-picture-o, .fa-archive, .fa-ellipsis-v {
  padding-left: 50px;
}

.get-notes {
  border-style: groove;
}