html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.body-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column ;
}

.header-section {
  width: 100%;
  height: 10%;
  padding-top: 10px;
  border-bottom: 1px solid #d5d7d8;
}

.main-section {
  width: auto;
  height: 60%;
}

.header-content span img {
  width: 9%;
  padding-left: 70px;
  padding-right: 6px;
}

.keep {
  padding-right: 150px;
}

.search-input {
  background: #f1f3f4;
  border: 1px solid transparent;
  width: 53%;
  height: 50px;
  border-radius: 10px;
  padding-left: 50px;
}

.search-label {
  padding-right: 100px;
}

/* sidebar styling */

.sidebar {
  position: fixed;
  width: 50px;
  height: 100%;
  transition: all 0.5s ease;
}

.sidebar .sidebar-position {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.sidebar .sidebar-position:hover {
  background-color: #feefc3;
  border-radius: 10px;
}

.sidebar i {
  color: black;
  min-width: 25px;
  text-align: center;
}

.sidebar span {
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0 15px;
  transition: width 0.5s ease;
  color: black;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar--open {
  width: 250px;
}

.sidebar--open .sidebar-position span {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: all 0.5s ease, opacity 0.5s ease 0.5s;
}

.trigger {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px 15px;
  position: fixed;
}

.trigger i {
  padding-top: 18px;
}

/* main section styling */

.items {

  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  
}

.item-container {
  padding-top: 30px;
  padding-left: 200px;
}

textarea:focus, input:focus{
  outline: none;
}

#Div2 {
  display: none;
  transition:linear;
  padding-left: 420px;
  width: 78%;
  padding-top: 20px;
  border: white;
}

.Div2-contents {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 10px;
  height: 250px;
}

.Div1 {
  padding-left: 420px;
  padding-top: 20px;
  width: 78%; 
}

.note-section {
  padding-left: 2px;
  border: white;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

#content{
  display:none;
}

.toggle {
  width: 100%;
  height: 40px;
  border: none;
  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.user-note {
  width: 100%;
  height: 40px;
  border: none;
  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

span .material-icons-outlined {
  padding-left: 30px;
}

#icons .material-icons-outlined {
  padding-left: 10px;
}

.Div2-contents h1 {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  font-size: 18px;
  font-weight: 500;
  height: 45px;
  padding-top: 15px;
  padding-left: 15px;
}

.me-2 {
  padding-top: 10px;
  padding-left: 400px;
}

.btn-primary {
  color: black;
  background-color: white;
  border: none;
}

.btn-primary:hover {
  background-color:rgb(247, 244, 244);
  color: black;
}

.Div2-contents i {
  padding-left: 25px;
}

.person-email {
  border: none;
  color: #3c4043;
  font-size: 13px;
  font-family: 'Roboto',arial,sans-serif;
  outline: none;
}

.default-email-container {
  padding-left: 28px;
}

/* icon styling */

.fa-picture-o, .fa-archive, .fa-ellipsis-v, .fa-undo, .fa-repeat {
  padding-left: 50px;
}
.fa-repeat { 
  padding-right: 50px;
}

.Div2-contents i {
  padding-left: 25px;
}
.collaborator-button {
  border: none;
  background-color: white;
}
.note {
  border: none;
  background-color: white;
}
.note:hover {
  background-color: rgb(238, 235, 235);
  border-radius: 5px;
  width: 12%;
}

.person-email {
  border: none;
  color: #3c4043;
  font-size: 13px;
  font-family: 'Roboto',arial,sans-serif;
  outline: none;
}

.default-email {
  height: 30px;
  color: #5f6368;
  font-size: 13px;
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  padding-left: 25px;
}

/* icon styling */

.fa-picture-o, .fa-archive, .fa-ellipsis-v, .fa-undo, .fa-repeat {
padding-left: 25px;
}
.fa-repeat { 
  padding-right:110px;
  border-radius: 10px;
}

.fa-undo, .fa-repeat {
color: rgb(196, 191, 191);
}

.fa-user-plus {
  padding-left: 1px;
}

.fa-picture-o {
  padding-left: 15px;
}
.collaborator-button {  
  height: 50px;
  width: 50px;
  border: none;
  background-color: white;
}
.note {
  
  border: none;
  background-color: white;
}
  
.note:hover {
  background-color: rgb(238, 235, 235);
  border-radius: 5px;
  width: 12%;
}

.delete-buttton {
  border: none;
  background-color: white;
  padding-left: 180px;
}

.delete-buttton:hover {
  background-color: rgb(238, 235, 235);
  border-radius: 5px;
  width: 12%;
}

.archive-button {
  border: none;
  background-color: white;
}
  
/* display note icons hover */

.sub-buttons {
  display: none;
}

.items:hover .sub-buttons {
  display: block;
}

/* colaborator display note */

.myList {
  width: 60%;
  height: 30px;
}

.dropdown-menu-dark {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);  
}

.dropdown-toggle {
  background-color: white;
  border: none;
  color: black;
}

.dropdown-toggle:hover {
  background-color: white;
}

.dropdown-menu {
  padding-right: 100px;
  padding-left: 1px;
  color: black;
  background-color: white;
}

.dropdown-menu:hover {
  background-color: white;
  border-color: white;
}

.btn-secondary  {
  padding-left: 1px;  
}

.btn {
  padding-left: 1px;
  border-color: white;
}

.btn:hover {
  background-color: white;
  border-color: white;
  box-shadow: none;
  color: black;
}

.collab-dropdown {
  padding-left: 25px;
}

/* collaborator display section */

.collab-email {
  padding-left: 50px;
  padding-bottom: 10px;
}

/* collaborator add button */

.add-collab {
  border: none;
  background-color: white;
}

.addnote-collab {
  border-style: groove;
  width: 5%;
  color: black;
  border-radius: 55px;
  background-color: rgb(233, 93, 68);
  border-color: rgb(233, 93, 68);
}

/* color pallete styling */

.color-palette {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 10px 3px;
  width: 160px;
}

.color-palette div {
  box-sizing: border-box;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  margin: 2px;
  opacity: 1;
  cursor: pointer;
  display: inline-block;
  /* border: 2px solid transparent; */
  outline: none !important;
}

/* .color-palette div:hover {
  border-color: rgba(0, 0, 0, 0.4);
} */

.color-palette div.circled {
  border-color: rgba(0, 0, 0, 0.2) !important;
}

/* .color-palette div.selected-color {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
} */

.btn:hover {
  border: white;
}

.bg-red {
  background-color: #f28b82;
}

.bg-orange {
  background-color: #fbbc04;
}

.bg-yellow {
  background-color: #fff475;
}

.bg-green {
  background-color: #ccff90;
}

.bg-turquoise {
  background-color: #a7ffeb;
}

.bg-blue {
  background-color: #cbf0f8;
}

.bg-dark-blue {
  background-color: #aecbfa;
}

.bg-purple {
  background-color: #d7aefb;
}

.bg-pink {
  background-color: #fdcfe8;
}

.bg-brown {
  background-color: #e6c9a8;
}

.bg-grey {
  background-color: #e8eaed;
}

/* display note popup section styling */

.overlay {
  background:rgba(0,0,0,0.8);
  opacity:0.8;
  filter:alpha(opacity=80);
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  z-index:100;
}

.popup{
  background:white;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:101;
  width:500px;
  height:200px;
  margin:auto;
}  
  
.popup-inner{
  padding:1em;
} 
input.s3-btn-close{
  position:absolute;
  top:-0.5em;
  right:-0.5em;  
  background:black;
  border:solid 2px white;
  color:white;
  cursor:pointer;  
  border-radius:15px;  
  outline:none;
} 

.s3-btn{
  background:#f1f1f1;
  border:none;
  width:200px;
  height:50px;
  cursor:pointer;
  width: 100%; 
}

.s3-center{
  text-align:center;
}

.s3-btn li{
  padding-right: 1000px;
}


